.restTile {
  background: #929292;
  padding: 1%;
  margin: 1%;
  width: 21%;
  img {
    max-width: 98%;
  }
}
.ratings {
  display: flex;
  justify-content: space-between;
}
.restTileName {
  font-size: 20px;
  margin: 0;
}