.restModalContainer {
  width: 60%;
  height: 90%;
  background: #5f5f5f;
  overflow: auto;
}
.restModalHeader {
  height: 10%;
  display: flex;
  justify-content: center;
  background: #929292;
  align-items: center;
  h1 {
    font-size: 32px;
    margin: 0;
  }
}
.restModalImgList {
  max-width: 35%;
  max-height: 100%;
  overflow-y: auto;
}
.restModalBody {
  display: flex;
  height: 90%;
}
.restModalImg {
  width: 96%;
  padding: 2%;
}
.restModalSection {
  font-size: 14px;
  display: flex;
  width: 100%;
  div {
    padding: 2%;
    border: 2px solid #242424;
    place-items: center;
  }
}
.restModalDesc {
  width: 66%;
  font-size: 16px;
}
.restModalOpen {
  width: 26%;
}
.restModalOptions {
  width: 48%;
  div {
    width: 100%;
    border: none;
    display: flex;
    justify-content: space-between;
  }
}
.restModalContact {
  width: 48%;
}
.newReview {
  width: 100%;
    background: #929292;
  textarea {
    width: 99%;
    min-height: 80px;
  }
}
.restModalReviews {
  width: 100%;
  div {
    width: 100%;
    border: none;
  }
}